absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
antlr4-python3-runtime
asteroid-filterbanks
astunparse
async-timeout
attrs
audioread
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
colorlog
contourpy
cycler
dateparser
decorator
docopt
einops
emoji
fasttext-wheel
ffmpeg-python
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
huggingface-hub
HyperPyYAML
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
joblib
julius
keras
Keras-Preprocessing
kiwisolver
lazy_loader
libclang
librosa
lightning
lightning-utilities
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
msgpack
multidict
namex
networkx
nltk
numba
numpy==1.23.5
oauthlib
omegaconf
opt_einsum
optree
optuna
packaging
pandas
pillow
platformdirs
pooch
primePy
propcache
protobuf
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyasn1
pyasn1_modules
pybind11
pycparser
pydub
Pygments
pyparsing
python-dateutil
pytorch-lightning
pytorch-metric-learning
pytubefix
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
semver
sentencepiece
shellingham
six
sortedcontainers
soundfile
soxr
speechbrain
SQLAlchemy
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboardX
tensorflow==2.15
termcolor
threadpoolctl
tokenizers
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tqdm
transformers
typer
typing_extensions
tzdata
tzlocal
ujson
urllib3
Werkzeug
wrapt
yarl
youtube-comment-downloader
zipp
