aiohappyeyeballs
aiohttp
aiosignal
alembic
antlr4-python3-runtime
asteroid-filterbanks
async-timeout
attrs
audioread
certifi
cffi
charset-normalizer
click
colorama
colorlog
contourpy
cycler
dateparser
decorator
docopt
einops
emoji
fasttext-wheel
ffmpeg-python
filelock
fonttools
frozenlist
fsspec
future
greenlet
huggingface-hub
HyperPyYAML
idna
importlib_resources
Jinja2
joblib
julius
kiwisolver
lazy_loader
librosa
lightning
lightning-utilities
llvmlite
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
msgpack
multidict
networkx
nltk
numba
numpy
omegaconf
optuna
packaging
pandas
pillow
platformdirs
pooch
primePy
propcache
protobuf
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pybind11
pycparser
pydub
Pygments
pyparsing
python-dateutil
pytorch-lightning
pytorch-metric-learning
pytubefix
pytz
PyYAML
regex
requests
rich
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
semver
sentencepiece
shellingham
six
sortedcontainers
soundfile
soxr
speechbrain
SQLAlchemy
sympy
tabulate
tensorboardX
threadpoolctl
tokenizers
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tqdm
transformers
typer
typing_extensions
tzdata
tzlocal
ujson
urllib3
yarl
youtube-comment-downloader
zipp
